html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
    }
    
    .container{
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
}
@media(max-width:425px) {
    .container{
        margin-left: 0%!important;
        padding-left: 3%!important;
        padding-right: 0px!important;
    }
    
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*------------------------------------------------*/
/*css editado para el site*/
/*------------------------------------------------*/

.site-login{
    margin-top: 50%;
}
/*------------------------------
css para las busquedas
------------------------------*/

.mb20 { margin-bottom: 20px; } 

hgroup { 
    padding-left: 15px; 
    border-bottom: 1px solid #ccc; 
}

hgroup h1 { 
    color: #2a3644; 
    margin-top: 0; 
    line-height: 1.15; 
}

hgroup h2.lead { 
    color: #999;
    margin: 0; 
    padding-bottom: 10px; 
}
.searchhead{
    color: #ccc;
    margin-bottom: 30px;
}

.search-result .thumbnail { 
    border-radius: 0 !important;
}
.search-result:first-child { 
    margin-top: 0 !important;
}
.search-result {
    color: #ddd;
    margin-top: 20px;
}
.search-result .col-md-2 { 
    border-right: 1px dotted #ccc; 
    min-height: 140px; 
}
.search-result ul { 
    padding-left: 0 !important;
    list-style: none;
}
.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}
.search-result ul li i {
    padding-right: 5px;
}
.search-result .col-md-7 {
    position: relative;
}
.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}
.search-result h3 > a,
.search-result i {
    color: #97c757 !important;
}
.search-result span.plus {
    position: absolute;
    right: 0;
    top: 126px;
}
.search-result span.plus a {
    background-color: #97c757;
    padding: 5px 5px 3px 5px;
}
.search-result span.plus a:hover {
    background-color: #414141;
}
.search-result span.plus a i {
    color: #fff !important;
}
.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
}

.label-gd{
    color: #97c757!important;
}
.back-birthday{
    background-color: brown;
}
.back-anniversary{
    background-color: #00d1e5;
}
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.legend-item {
    color: white;
    font-size: 15px;
}
.legend { list-style: none; }
.anniversary-icon{
    color: brown!important;
}
.birthday-icon{
    color: #00d1e5!important;
}
.date-item{
    color: #fff;
}

@media (min-width: 991px) {
  
  .container{
      padding-left: 200px!important;
  }
}